.divSection {
    height: 300px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.divSection__image {
    width: 50%;
    outline: solid red 1px;
    display: flex;
    align-content: center;
}

.divSection__img {
    width: 100%;
    object-fit: contain;
}

.divSection__div {
    width: 50%;
    outline: solid blue 1px;
    display: flex;
    justify-content: center;
    place-items: center;
}